.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  display: flex;
  min-height: 500px;
}
.col {
  flex: 1;
}
.col:not(:last-child) {
  border-right: 1px solid #ccc;
}
.col li {
  text-align: left;
}

button {
  margin-left: 10px;
}

.action-input {
  margin-top: 10px;
}

.link {
  color: #61dafb;
}

.overview {
  display: flex;
  margin-top: 10px;
}
.overview div {
  flex: 1;
}
.overview label {
  color: rgba(0, 0, 0, 0.3);
  margin-right: 5px;
}
.overview i {
  margin-left: 5px;
}
